
body{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 960px;
    background-color: #4aaaa5;
    width: 960px;
    margin: auto;



}
.overall {
    width: 960px;
    margin: auto
    
}
/* h1{
    background-color: teal;
    margin: auto;
    padding: 0;
    color: white;
    margin-bottom: 20px;

} */
.name{
    background-color: teal;
    font-size: 15px;
    padding-top: 20px;

}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 10px;
    padding-right: 15px;
    margin: auto;
    border: #cccccc;

}
.sub-headers {
    display: flex;
    justify-content: space-between;
    width: 250px;
    font-size: 20px;
    
}

h2{
    nav-left: auto;
}

.content {
    padding:  20px;
    margin: auto; 
    background-color: #ffffff;
    box-shadow: 0 0 10px #dddddc;
    

}
.img-text {
    display: flex;
    justify-content: space-between;
}

.line {
    border: 1px solid;
    margin-bottom: 20px;
}
 
.text{
    margin: 0 auto;
    padding-left: 10px;
    color: #777777;
}
#beads{
    color: #777777;
}
p2{
    color: #777777;
}

.img-content {
    
    padding: 15px;
    padding-bottom: 25px;
    float: left;
    position: relative;
    background-color: aquamarine;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    text-align: center;
}

.img-container {
    display: flex;
    flex-wrap: wrap;


}
.submit-button{
background-color: teal;
font-size: 14px;
padding: 10px;

}
.contact-info{
    color: #777777;
}
ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13.6%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13.6%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}
